# E-Commerce-Analysis-and-Prediction-Modelling :- Data Cleaning

In [2]:
import pandas as pd
data = pd.read_csv(r"C:\Users\giris\Downloads\E-commerce-dataset.csv")

In [4]:
data.head()

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,Price,CustomerID,Country,TotalAmount
0,INV9663,SC3817,Lamp,16,12-01-2024 23:59,424.63,CUST7483,Saint Helena,6794.08
1,INV7227,SC5039,Game,18,24-09-2024 04:23,423.78,CUST8429,Estonia,7628.04
2,INV8910,SC3133,Lamp,5,19-08-2024 01:54,74.37,CUST1680,Cocos (Keeling) Islands,371.85
3,INV9710,SC2996,Watch,2,12-05-2025 07:28,133.69,CUST9262,Rwanda,267.38
4,INV9997,SC2069,Detergent,18,31-07-2024 22:54,77.95,CUST2698,Kazakhstan,1403.10

In [ ]:
# checking the info of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    100000 non-null  object
 1   StockCode    100000 non-null  object
 2   ProductName  100000 non-null  object
 3   Quantity     100000 non-null  int64
 4   InvoiceDate  100000 non-null  object
 5   Price        100000 non-null  float64
 6   CustomerID   100000 non-null  object
 7   Country      100000 non-null  object
 8   TotalAmount  100000 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 6.9+ MB

In [ ]:
# checking the shape of the dataset
data.shape

(100000, 9)

In [ ]:
# statistical summary of the dataset
data.describe()

            Quantity          Price    TotalAmount
count  100000.000000  100000.000000  100000.000000
mean        9.986360     252.479462    2523.962125
std         5.483092     142.845021    2143.406240
min         1.000000       5.010000       5.030000
25%         5.000000     128.910000     763.342500
50%        10.000000     252.990000    1911.390000
75%        15.000000     375.942500    3823.470000
max        19.000000     500.000000    9497.340000

In [ ]:
# checking for missing values
data.isnull().sum()

InvoiceNo      0
StockCode      0
ProductName    0
Quantity       0
InvoiceDate    0
Price          0
CustomerID     0
Country        0
TotalAmount    0
dtype: int64

In [ ]:
# checking for duplicate values
data.duplicated().sum()

np.int64(0)

In [13]:
# Convert InvoiceDate to datetime
data["InvoiceDate"] = pd.to_datetime(data["InvoiceDate"], errors="coerce")

In [14]:
# Ensure string/object columns are proper strings
for col in ["InvoiceNo", "StockCode", "ProductName", "CustomerID", "Country"]:
    data[col] = data[col].astype(str)

In [16]:
# Save cleaned data
cleaned_path = "data/processed/cleaned_transactions.csv"
data.to_csv(cleaned_path, index=False)
print(f"Cleaned data saved to {cleaned_path}")

Cleaned data saved to data/processed/cleaned_transactions.csv